#CACHE{5*60}
	<div id="bas">
	<span id="copyleft"><img src="#CHEMIN{images/copyleft.png}" alt="copyLeft"/></span> Indymedia (Independent Media Center). Sauf au cas où un auteur ait formulé un avis contraire, les documents du site sont libres de droits pour la copie, l'impression, l'édition, etc, pour toute publication sur le net ou sur tout autre support, à condition que cette utilisation soit NON COMMERCIALE.
	</div>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="/stats/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="/stats/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
