#CACHE{5*60}
   <a class="item " href="https://mamot.fr/@indygrrr">
      <span class="titre">Indymedia Grenoble sur Mastodon</span><br/>
      <span class="horaire">réseau social libre et décentralisé</span>
   </a>

   <a class="item " href="https://seenthis.net/people/indygrrr">
      <span class="titre">Indymedia Grenoble sur Seenthis</span><br/>
      <span class="horaire">réseau social libre</span>
   </a>

   <a class="item " href="https://www.bibliothequeantigone.org">
      <span class="titre">Antigone</span><br/>
      <span class="horaire">café bibliothèque librairie</span>
   </a>

   <a class="item" " href="https://cric-grenoble.info">
      <span class="titre">Cric Grenoble</span><br/>
      <span class="horaire">communiquer relayer informer combattre</span>
   </a>

   <a class="item " href="https://grenoble.sous-surveillance.net">
      <span class="titre">Grenoble sous-surveillance</span><br/>
      <span class="horaire">contre la vidéo-surveillance</span>
   </a>

   <a class="item " href="https://www.gresille.org">
      <span class="titre">Grésille</span><br/>
      <span class="horaire">dévirtualiser Internet</span>
   </a>

   <a class="item " href="https://www.ici-grenoble.org">
      <span class="titre">Ici Grenoble</span><br/>
      <span class="horaire">guide pratique des alternatives</span>
   </a>

   <a class="item " href="https://labaf.org">
      <span class="titre">La BAF</span><br/>
      <span class="horaire">centre social autogéré</span>
   </a>

   <a class="item " href="https://www.lustucrust.org/localautogere_presentation.html">
      <span class="titre">Le local autogéré</span><br/>
      <span class="horaire">lieu d'activité, de rencontres, de lutte, d'échange…</span>
   </a>

   <a class="item " href="http://www.lemondealenvers.lautre.net">
      <span class="titre">Le monde à l'envers</span><br/>
      <span class="horaire">livres de critique sociale</span>
   </a>

   <a class="item " href="https://collectif16septembre.wordpress.com/">
      <span class="titre">La patate chaude</span><br/>
      <span class="horaire">des droits pours les roms</span>
   </a>

   <a class="item " href="https://www.lepostillon.org/Surtout-n-allez-pas-sur-notre-site.html">
      <span class="titre">Le Postillon</span><br/>
      <span class="horaire">journal papier critique grenoblois… surtout n'y allez pas !</span>
   </a>

   <a class="item " href="https://mediaslibres.org">
      <span class="titre">Médias libres</span><br/>
      <span class="horaire">agrégateur de médias alternatifs</span>
   </a>

   <a class="item " href="https://www.rebellyon.info">
      <span class="titre">Rebellyon</span><br/>
      <span class="horaire">média alternatif lyonnais</span>
   </a>

   <a class="item " href="https://le-tamis.info/">
      <span class="titre">Le Tamis</span><br/>
      <span class="horaire">ce qu'il y a d'autre à Grenoble</span>
   </a>

   <a class="item " href="https://valleesenlutte.noblogs.org/">
      <span class="titre">Vallées en lutte</span><br/>
      <span class="horaire">infos, analyses, luttes Alpes du sud-est</span>
   </a>

   <a class="item " href="https://infokiosques.net/">
      <span class="titre">Infokiosques.net</span><br/>
      <span class="horaire">neurones, guerre sociale, et perspectives révolutionnaires</span>
   </a>

   <a class="item " href="https://fr.squat.net/">
      <span class="titre">[squat!net] Francophone</span><br/>
      <span class="horaire">grève des loyers</span>
   </a>

   <a class="item " href="https://radar.squat.net/">
      <span class="titre">[squat!net] Radar</span><br/>
      <span class="horaire">agenda des squats partout dans le monde</span>
   </a>
